<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
  <span th:replace="~{home :: bootstrapImport}"></span>
</head>
<body>
<span th:replace="~{home :: navbar}"></span>
<div class="container">
  <h2>Inscription</h2>
  <form th:action="@{/registration}" method="post" th:object="${user}">
    <input type="text" name="username" placeholder="username" th:field="*{username}">
    <input type="password" name="password" placeholder="password" th:field="*{password}">
    <button class="btn btn-success">S'inscrire</button>
  </form>
</div>
</body>
</html>